//colors
$white: #fff;
$aqua: #18cfab;
$black-light: #4e4e4e;
$gray: #777;
$gray717171: #717171;

//layout
@import "layout/adjustment";
@import "layout/fonts";

//sections
@import "sections/header";
@import "sections/home";
@import "sections/options";
@import "sections/features";
@import "sections/about";
@import "sections/work";
@import "sections/services";
@import "sections/purchase";
@import "sections/news";
@import "sections/facts";
@import "sections/price";
@import "sections/feedback";
@import "sections/team";
@import "sections/purchase2";

//media
@import "media/tv";
@import "media/desktop";
@import "media/laptop";
@import "media/tablets";
@import "media/phones";