@media screen and (max-width: 1200px) {
	.home__slider-block {
		display: none;
	}

	.purchase2__title {
		font-size: 40px;

		span {
			font-size: 35px;
		}
	}

	.purchase2__bg {
		width: 525px;
    height: 380px;
	}

	.footer__logo  {
		line-height: 36px;
	}

	.feed__list {
		justify-content: flex-start;
	}

	.feed__item {
		margin-right: 15px;
	}

	.feedback__pic2 {
		margin: 0 12px;
	}
}