@media screen and (max-width: 992px) {
	
	#menu-icon {
		display: block;
	}

	.nav {
		align-self: center;
	}

	.nav__list {
		display: none;
	}

	.mobile-menu__list {
		flex-direction: row;
		justify-content: space-between;
	}
	
	
}