@media screen and (max-width: 576px) {
	.home__info-title {
		font-size: 46px;
	}

	.home__info-buy {
		font-size: 30px;
	}

	.options {
		height: 1200px;
	}

	.options__item {
		flex: 0 1 100%;
		height: 25%;
	}

	.title {
		text-align: center;
		font-size: 31px;
	}

	.about__link {
		font-size: 14px;
	}

	.about__item {
		margin-right: 7px;
	}

	.work__list {
		flex-direction: column;
	}

	.work__item {

		&:last-child {
			.work__link {
				border-bottom: 1px solid #ebebeb;
			}
		}
		.work__link {
			border-left: 1px solid #ebebeb;
			border-bottom: none;
		}
	}

	.services__tabs {
		flex-wrap: wrap;
	}

	.services__list {
		flex: 0 1 100%;
		margin: 0 0 25px 0;
	}
	.services__info {
		flex: 0 1 100%;
	}

	.facts {
		height: 1200px;
	}

	.facts__item {
		flex: 0 1 100%;
		height: 25%;
	}

	.price__item {
		flex: 0 1 100%;
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}
	
	.map {
		margin-top: 570px;
		width: 100%;
	}

	.contact {
		min-height: 1380px;
	}

	.footer__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 25px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.footer__text {
		margin-bottom: 20px;
	}
	
}