.contact {
	padding: 130px 0;
}

.map {
	position: absolute;
	width: calc(50% - 15px);
	height: 550px;
}

.form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.form__input {
	flex: 0 1 100%;
	margin-bottom: 15px;
	border: 1px solid #c1d2cf;
	padding: 20px 15px;
}

.form__message {
	height: 175px;
	resize: none;
}

.form__input::-webkit-input-placeholder {color:#90aebd;}
.form__input::-moz-placeholder          {color:#90aebd;}
.form__input:-moz-placeholder           {color:#90aebd;}
.form__input:-ms-input-placeholder      {color:#90aebd;}

.form__btn {
	display: flex;
	height: 54px;
	background-color: #18cfab;
	padding: 0;
	outline: none;
	border-radius: 3px;
	border: none;
	border-bottom: 6px solid #08bf9b;
	cursor: pointer;

	&:hover {
		.form__btn-text {
			color: $black-light;
		}
	}
}

.form__btn-text {
	margin: auto;
	text-transform: uppercase;
	font-weight: 700;
	color: $white;
	transition: .3s;
}

